* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(65, 138, 138);
}

header {
  padding: 30px;
  text-align: center;
  font-size: 30px;
  background-color: rgb(47, 95, 95);
  box-shadow: 8px 1px 8px 8px azure;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

span {
  transition: all 1s ease;
}

span.fade-in {
  color: white;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

img {
  margin: auto;
  height: 500px;
  border: 20px solid #222;
  box-shadow: 1px 1px 12px 1px #222;
}

.facts {
  text-align: center;
  font-style: normal;
  text-decoration: underline white;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-bottom: 1%;
}

ul {
  padding-bottom: 3%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  font-size: 20px;
  color: white;
  font-style: italic;
}

footer {
  padding: 30px;
  text-align: center;
  background-color: rgb(47, 95, 95);
  box-shadow: 1px 0px 8px 8px azure;
}
